---
import CardProyects from "./CardProyects.astro";


---

<div class="w-full text-center" id="proyects">
  <h1 class="font-semibold text-3xl">Proyectos</h1>
</div>
<section
  class="w-full grid auto-rows-[380px] lg:auto-rows-[140px] grid-cols-8 gap-4"
>
  <CardProyects
    title="precto1",
    description="descripcion",
    github="https://www.google.com",
    img="https://www.perforce.com/sites/default/files/image/2020-01/image-blog-comparison-git-powered-wikis.jpg"
  />

  <CardProyects
  title="precto1",
  description="descripcion",
  github="https://www.google.com",
  img="https://www.perforce.com/sites/default/files/image/2020-01/image-blog-comparison-git-powered-wikis.jpg"
/>

<CardProyects
title="precto1",
description="descripcion",
github="https://www.google.com",
img="https://www.perforce.com/sites/default/files/image/2020-01/image-blog-comparison-git-powered-wikis.jpg"
/>

<CardProyects
title="precto1",
description="descripcion",
github="https://www.google.com",
img="https://www.perforce.com/sites/default/files/image/2020-01/image-blog-comparison-git-powered-wikis.jpg"
/>

</section>
