---
import Sliderbar from "../components/slidrbar/Sliderbar.astro"
import Home from "../components/home/Home.astro"
import About from "../components/about/About.astro"
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Home</title>
  </head>
  <body>
    <Sliderbar/>
    <main>
      <Home/>
      <About/>
    </main>
  </body>
</html>

<style>
  html {
    scroll-behavior: smooth;
    font-family: 'Outfit', sans-serif;
  }
</style>
