---

---

<div class="home__socials">
  <a href="" class="home__social-link" target="_blank">
    <i class="fa-brands fa-instagram"></i>
  </a>

  <a href="" class="home__social-link" target="_blank">
    <i class="fa-brands fa-linkedin"></i>
  </a>

  <a href="" class="home__social-link" target="_blank">
    <i class="fa-brands fa-facebook"></i>
  </a>

  <a href="" class="home__social-link" target="_blank">
    <i class="fa-brands fa-github"></i>
  </a>

  <a href="" class="home__social-link" target="_blank">
    <i class="fa-brands fa-pinterest"></i>
  </a>
</div>

<style>
  .home__socials {
    display: flex;
    column-gap: 1.75rem;
    margin: 1.5rem 0;
  }

  .home__social-link {
    color: var(--title-color);
    font-size: 1.3rem;
    transition: 0.3s;
    margin: 0 auto;
  }

  .home__social-link:hover {
    color: hsl(43, 100%, 68%);
  }

  /*================BREAKEPOINTS===============*/
  /*LG*/
  @media screen and (max-width: 1024px) {
    .home__social-link {
        font-size: 1.125rem;
    }
  }
</style>
